#rowDiv {
    margin: auto;
    text-align: center;
    width: 100%;
}

input[type="text"]{
    height: 40px;
    font-size: 20px;
}

#submitWeather {
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    height: 40px;
    width: 40px;
}

#forecast {
    font-size: 15px;
}

.historyCity {
   background-color: transparent;
   border-color: transparent;
   text-decoration: underline;
   color: #003f61;
   font-size: 16px;
   text-align: left;
   width: 150px;
}


